<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', path='/css/styles.css') }}">
    <title>SocketIO</title>
</head>

<body>
    <h1>Video llamada</h1>

    <div class="camera-container">
        <video id="video" width="640" height="480" autoplay></video>
        <select id="camera-select"></select>
        <button id="start-button">Iniciar cámara</button>
        <button id="stop-button" disabled>Detener cámara</button>
    </div>

</body>
<script src="https://cdn.socket.io/4.5.0/socket.io.min.js"
    integrity="sha384-7EyYLQZgWBi67fBtVxw60/OWl1kjsfrPFcaU0pp0nAh+i8FD068QogUvg85Ewy1k"
    crossorigin="anonymous"></script>
<script src="{{ url_for('static', path='/js/main.js') }}"></script>

</html>